---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Use grey background for code
pre, code, .highlighter-rouge .highlight { background-color: #f8f8f8; }


.site-title::before {
    background-image: url("/assets/ai-wants-hpc_logo.png");
    background-size: 240px 180px;
	position: relative;
    display: inline-block;
    width: 240px; 
    height: 180px;
    content:"";
    margin-right: -240px;
    margin-bottom: -130px;
    left: -280px;
}

.site-title::after {
    background-size: 240px 0px;
    display: inline-block;
    width: 240px; 
    height: 0px;
    content:"";
}
