---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Use grey background for code
pre, code, .highlighter-rouge .highlight { background-color: #f8f8f8; }

.site-title {
    &.header-icml2024 {
        background-image: url("/assets/ai-hpc-icml2024.png");
    }

    &.header-neurips2023 {
        background-image: url("/assets/ai-wants-hpc_logo3.png");
    }
    background-size: contain;
    background-repeat: no-repeat;
	position: relative;
    width: 700px;
    height: 200px;
    content:"";
    // left: -50px;
    // margin-left: 50px;
}

.site-nav {
    width: 100%;
    float:right;
    text-align: right;
}

#yearSelector {
    margin-right: 20px;

    padding: 8px 16px; /* Padding for a better touch area and aesthetics */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #fff; /* White background */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    cursor: pointer; /* Pointer cursor on hover */

    &:hover, &:focus {
        border-color: #999; /* Darker border on hover/focus */
        outline: none; /* Remove default focus outline */
    }
}

// Media query for mobile view
@media screen and (max-width: 768px) {
    .site-title::before {
        background-image: url("/assets/ai-hpc-icml2024.png");
    }

    .site-title {
        width: 80vw;
        height: 10vh;
        background-size: contain;
    }

    .site-nav {
        width: auto;
        &::after {
            width: 100%;
        }
    }

    #yearSelector {
        margin-right: 1vw;
    }
}